<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/assets/SAMPARK.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/layout.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate | Sampark</title>
</head>
<body>
    <div class="sidebar">
        <div class="link-container">
          <a  href="/dashboard"><img class="navigation-icon" src="https://img.icons8.com/ios/50/000000/home--v1.png"/></a>
          <a href="/chat"><img class="navigation-icon" src="https://img.icons8.com/ios/50/000000/speech-bubble-with-dots.png"/></a>
          <div id="profile-div">
            <a href="/profile"><img class="navigation-icon" src="https://img.icons8.com/ios/50/000000/user-male-circle.png"/></a>
          </div>
          <a href="/people"><img class="navigation-icon" src="https://img.icons8.com/small/96/000000/search--v1.png"/></a>
          <a href="/contact"><img class="navigation-icon" src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/66/000000/external-contact-us-shopping-and-commerce-smashingstocks-detailed-outline-smashing-stocks.png"/></a>
          <div id="logout-div">
            <a id="logout-link" href="/users/logout"><img class="navigation-icon" src="https://img.icons8.com/ios/50/000000/shutdown--v1.png"/></a>
          </div>
        </div>
      </div>
      <div class="content">
        <span class="header">CONTACT US</span>
        <form action="" method="post">
          <textarea name="message" id="message" required placeholder="Describe Your Problem here Briefly..."></textarea>
          <input id="submitBtn" type="submit" value="SEND">
        </form>
      </div>
</body>
</html>