<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/assets/SAMPARK.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/people.css">
    <link rel="stylesheet" href="/css/layout.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View People | Sampark</title>
</head>
<body>
    <a class="return-link" href="/dashboard">Return &uarr;</a>
    <h1 class="header">View People</h1>
    <div class="users-container">
        <h1 class="noUser-header">No Users at the moment.</h1>
    </div>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>